@media only screen and (min-width:992px) and (max-width:1199px)
{

    *{
        margin: 0px;
        padding:0px;
        box-sizing: border-box;
    }
    .header-container{
        padding-left:13px;
        padding-right:13px;
        padding-top:20px;
        padding-bottom:20px;
        display: flex;
    }
    .header-container1{
        padding:20px;
        height:60px;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        
        width:62%;
        
    
    }
    .header-container2{
        padding:20px;
        height:60px;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content:flex-end;
        
        width:38%;
    }
}